<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terjemahan Kode Morse</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand ms-2">Translator Morse</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('main') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('terjemahan_kalimat') }}">Terjemah</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="border border-5 mx-auto mt-3 position-relative" style="width:1000px; height:100%;">  
        <div class="container bg-dark text-white rounded">     
            <div class="head">
                <h1 class="text-center">Translator Morse</h1>
            </div>
            <div class="dropdown mb-3 mt-3">
                <button class="btn btn-info dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Latin
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="{{ url_for('terjemahan_kode') }}">Morse</a></li>
                </ul>
            </div>
            <div class="row mb-3 mt-3">
                <div class="col">
                    <label for="latin" class="form-label">Latin</label>
                    <textarea class="form-control" id="latin" rows="3"></textarea>
                </div>
                <div class="col">
                    <label for="terjemahan" class="form-label">Terjemahan</label>
                    <textarea class="form-control" id="terjemahan" rows="3"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button class="btn btn-info" onclick="terjemah('latin')">Terjemahkan</button>
                </div>
                <div class="col">
                    <button class="btn btn-info" onclick="salin_teks('terjemahan')">Salin</button>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col"></div>
                <div class="col">
                    <h6>Keterangan:</h5>
                    <h6>\ pemisah karakter</h6>
                    <h6>\\ spasi</h6>
                    <h6># karakter tidak memiliki kode morse</h6><br>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script>
        function salin_teks (teks) {
            navigator.clipboard.writeText(document.getElementById(teks).value);
        }

        function terjemah(latin) {
            var latin = encodeURIComponent(document.getElementById(latin).value);
            
            $.ajax({
                type: 'GET',
                url: 'http://127.0.0.1:5000/terjemah_latin?latin=' + latin,
                dataType: 'json',
                success:
                function (hasil) {
                    document.getElementById("terjemahan").innerHTML = hasil['terjemahan'];
                    console.log(hasil['latin']);
                }
            });
        }
    </script>
</body>
</html>