<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
    {% with messages = get_flashed_messages(with_categories = True) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="container">
        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
            <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
            </symbol>
            <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
            </symbol>
            <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </symbol>
        </svg>
        <div class="alert alert-{{ category }} alert-dismissible fade show d-flex align-items-center" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="{{ 'Info:' if category == 'warning' else 'Danger:' if category == 'danger' else 'Success:'}}"><use xlink:href="{{ '#info-fill' if category == 'warning' else '#exclamation-triangle-fill' if category == 'danger' else '#check-circle-fill'}}"/></svg>
            <strong>{{ message }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" arialabel="Close"></button>
        </div>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="border border-5 mx-auto mt-3 position-static" style="width:400px; height: 200px;">
        <div class="container bg-dark text-white rounded position-relative"> 
            <div class="mb-3 col" style="text-align: center;">
                <h3>LOGIN</h3>
            </div>
            <form class="login-form" action="{{ url_for('login') }}" method="post">
                <div  class="mb-5 " style="text-align: center;">
                    <label>Web Translator Morse</label>
                </div>
                <div class="mb-3">
                    <input type="text" placeholder="Masukkan Username" name="username" class="form-control"/>
                </div>
                <div class="mb-3">
                    <input type="password" placeholder="Masukkan Password" name="password" class="form-control"/>
                </div>
                <div class="mb-3" style="padding: 10px;text-align:center;">            
                    <button type="submit" class="btn btn-primary" style="width:170px;">Login</button>
                </div>
            </form>
            <div class="text-end fs-6 mb-5" style="padding: 5px;">
                <h6>Belum punya akun ? <a href="{{ url_for('register') }}" class="link-info">Register</a></h6>
                <a href="{{ url_for('terjemahan_kalimat') }}" class="link-danger mb-5">Terjemah tanpa login</a>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>